body{
    margin-left: 20px;
    margin-right: 20px;
  
    /* background-image: url(https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-1.2.1&w=1000&q=80); */
    
}

/* .header-row-wrapper{

    background-color: blanchedalmond;
} */

/* 
.container{
  width: 100%
} */

.header-row{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 180%;
    /* padding-top: 20px; */
    padding: 43px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
    /* margin: 5px; */
    /* margin-top: 5px; */
    /* box-shadow: 15px 18px #1E90FF */
}

.my-header{
    padding: 12px;
}


.my-col{
    
    /* border: dotted blue; */
    height: 70px;
}

.dropdown{
    margin-top: 20px;
    margin-left: 23px;
    font-size: 50%;
}


#shining-text{
  /* inline-block : to make it side by side */
  /* display: inline-block;   */
  text-align: center;
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 5px;
  color: white;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}



.search-bar-col{
    background-color: #1E90FF;
    /* border: solid 2px; */
    height: 70px;
    margin-bottom: 4px;
}

.event-photo-col{
    border: solid 2px;
    /* box-shadow: black 5px 17px; */
    padding: 0;
}

.comment-button-col{

    height: 400px;
    background-color: snow;
}

#review_section{

  margin-top: 10px;
}

#sign-in-button{
  color: red;
}


/* planner button */
#personal-planner{

  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 70%;
  font-weight:bold;
}

/* #signout-button{
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  margin-left: 10px;
  border-radius: 40%;
  font-weight:bold;
} */


#update-button{  
  /* background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 9px;
  border-radius: 50%;
  font-weight:bolder; */
  background-color: dodgerblue;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 70%;
    font-weight:bold;

  margin-left: 30px;
  /* margin-bottom: 100px; */
}



#signin-button{  
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  padding: 9px;
  border-radius: 50%;
  font-weight:bolder;
  margin-left: 30px;
}
#signout-button{  
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  padding: 9px;
  border-radius: 50%;
  font-weight:bolder;
  margin-left: 30px;

}


#review-button{
    
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 70%;
    font-weight:bold;

}

#welcome-button{
    margin-left: 90px;
    background-color: whitesmoke;
    border: solid 1px;
    box-shadow: blanchedalmond;
    color:black;
    margin-top: 15px;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 70%;
    font-weight:bold;

    /* rotate */
    animation: rotation 8s infinite linear;

}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

#sports-btn{
    padding: 0;
    margin-top: 50px;
}

.another-eventphoto-div{
    margin-top: 20px;
    border: solid 1px;
    height: 400px;
}

.reviews-section{
    height: 300px;
    overflow-y: scroll;
    border: solid 1px;
    background-color: F0F8FF;
    /* background-color: cornsilk;; */
}

.chat-box-possible{

    border: solid 1px;
    height: 240px;

}

#buy-button{
   /* margin-left: 910px;
   margin-bottom: 1500px; */
   margin-left: 75px;
  
}

/* review_star */

.review_star{
    padding: 1px;
}
.checked {
    color: orange;
  }

.chat-box-possible{

    height: 300;
}


.review-photo{

    /* background-color: cornsilk; */
    /* background-color: F0F8FF; */

}

/* footer */
.footer-class{
    margin-top: 10px;
    background-color:black;
    height: 150px;
}

/* Social media icons  */

.fa {
    margin-top: 10px;
    /* padding: 7px; */
    font-size: 60px;
    /* width: 50px; */
    text-align: center;
    text-decoration: none;
    margin: 8px 2px;
  }

  /* .icons{
    .fa {
      margin-top: 10px;
      padding: 7px;
      font-size: 60px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      margin: 8px 2px;
    }
  } */
.fa-facebook {

    background: #3B5998;
    color: white;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-pinterest {
    background: #cb2027;
    color: white;
  }

  .fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-instagram {
    background: #125688;
    color: white;
  }



  /* first page photos */

  #pic1{

    border: solid 1px;
  }

  #pic2{

    border: solid 1px;
  }

  .another-eventphoto-cols{
      border: solid 1px;
      height: 200px;
  }


  #show-sport-event{
      background-color: thistle;
      
      font-size: 50%;
      margin: 10%;
  }

  #event_div_img{
      width: 300px;
      margin-left: 10%;
      margin-top: 10px;
      margin-bottom: 10px;
  }



  .single_event_div{
    padding: 55px;
    margin-top: 13px;
    /* border: solid 1px; */
    height: 200px;
    color: white;
  }

  #event_img{
    margin-left: 90px;
    height: 190px;
    width: 450px;
  }

  #buy_ticket{

  }

  #spotify{

    height: 200px;
    margin-top: 0px;
  }
/* 
  #have-fun{
    margin-left: 30px;
    text-align: center;
    margin-top: 15%;
    display: inline-block;
    color: #1E90FF;
    font-family: 'Righteous', serif;
    font-size: 6em; 
    text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
  } */


.show-page-col{
  
  padding-left: 75px;
  padding-bottom: 20px;
}

#show_event_img{

  width:280px;
  height:180px
}


/* event have fun text  */
.right {
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 150%;
  right: 2px;
  width: 280px;
  color: white;
  padding: 10px;
  padding-top: 10px;
  background-color: dodgerblue;
  margin:1px;

}

/* buy ticket button  */
#event_buy_ticket{
  background-color: dodgerblue;
  color: white;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

/* add event ticket */
#add_to_planner{
  margin-top: 5px;
  background-color: dodgerblue;
  color: white;
  text-align: center;
  padding-left: 100px;
  padding-right: 67px;
}

#lebron-photo{
    width: 100%;
    /* height: 100%; */
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  
}

#lebron-photo img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

#lebron-photo:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}


#harden-photo{
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

#harden-photo img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

#harden-photo:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}


/* broadway img hover */

#broadway-upcoming-img {

  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
  background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
}
#broadway-upcoming-img img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 60px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-40px,0,0);
  transform: translate3d(-40px,0,0);
}

#broadway-upcoming-img:hover img {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* superbowl img */
#superbowl-img{
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;

}


#superbowl-img img {
display: block;
position: relative;
-webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

#superbowl-img:hover img {
-ms-transform: scale(1.2);
-webkit-transform: scale(1.2);
transform: scale(1.2);
}

/* nyc photo */

#nyc-photo {

  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
  background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
}
#nyc-photo img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 60px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-40px,0,0);
  transform: translate3d(-40px,0,0);
}

#nyc-photo:hover img {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

canvas{
  position:absolute;top:0;left:0;
  background-image: linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
  background-image: -o-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
  background-image: -moz-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
  background-image: -webkit-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
  background-image: -ms-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
  
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(105,173,212)),
      color-stop(0.84, rgb(23,82,145))
  );
}


#login-form{
  margin-top: 40px;
  margin-left: 380px;

  text-align: center;
}

#current_user{
  margin-top: 20px;
  font-size: 14px;
  margin-left: 10px;
  color: white;
  font-family: bolder;
}

#planner_h2{
    text-align: center;
}

.instructions{
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  padding: 5%;
  margin-top: 5%;
  font-size:110%;
}

#thankyou-message{
  padding: 5%;
  margin-top: 0%;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  padding: 5%;
  margin-top: 5%;
  font-size:110%;
}

#instructions-div{
  display: block;
}

body{
  margin: 0vw;
}


/* Revised */